body {
  font-family: Work Sans;
  text-align: center;
  background-color: rgb(143, 228, 234);
  height: inherit;
}

#root{
  height: inherit;
}

.head{
  display: flex;
  width: 100%;
}

.navbar-left{
  display: block;
  width: 25%;
}

.navbar-brand {
  text-align: left;
  display: block;
  align-content: center;
  padding-top: 2em;
  margin-bottom: 2em;
  
}

.navbar-brand a.nabar-item {
  width: auto;
}

.head-name{
  font-size: 2em;
  font-weight: 900;
  color: whitesmoke;
}

.head-name:hover, .nav-link:hover,
.iconFooter:hover, .nameFooter:hover {
  color: rgb(48,197,255);
  text-decoration-line:underline;
  text-decoration-style:wavy;
  text-decoration-color: rgb(38, 11, 118);
}

.navbar-right{
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.nav-tabs{
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.nav-item{
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.2em;
  font-weight: bold;
}

.nav-link{
  color: whitesmoke;
}


main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30em;
  margin-right: 30em;
}

.my-pic {
	clip-path: circle();
  width: 250px;
}

.label {
  text-align: left;
}

.footer {
  padding-top: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}

.iconFooter{
  font-size: 1.2em;
  font-weight: bold;
  color: whitesmoke;
  
}

.nameFooter{
  color: whitesmoke;
  font-size: 1.2em;
}

.OneFooter{
  font-size: 1.2em;
  font-weight: bold;
}

.content p:not(:last-child){
  margin: 0em;
}

.TwoFooter{
  font-size: 1.2em;
  font-weight: bold;
}


hr {
  background-color: black;
}

.portfolioHeader{
  font-size: 2em;
  font-weight: 900;
  color: whitesmoke;
}

@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}

main{
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 3em;
}

.renderPage{
  display: block;
}

.proficiencies{
  font-size: 2em;
  font-weight: 900;
  color: black;
}

.resume{
  font-size: 2em;
  font-weight: 900;
  color: black;
}

.form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contactCardWrap{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.inputCard{
  width: 50%;
}
input{
  margin-top: 1em;
  margin-bottom: 1em;
}

.enable-line-break {
  white-space: pre-wrap;
}
li{
  color: black;
  font-size: 1.2em;
}